
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Cinzel+Decorative:wght@400;700;900&family=Monoton&family=Poppins:wght@400;500;700;800;900&display=swap');
.projects{
    height: auto;
    width: 100%;
    position: relative;
    padding: 50px 30px;
    margin-bottom: 100px;
}

.projects .project-header{
    text-align: center;
    color: #212121;
}

.project-header p{
    font-size: 13px;
}

.project-header h1{
    font-weight: 600;
    font-size: 25px;
    position: relative;
    padding-bottom: 10px;
    font-family: Cinzel Decorative;
}

.project-header h1::after{
    position: absolute;
content: '';
height: 2px;
width: 100px;
left: 50%;
transform: translate(-50%,-50%);
bottom: 0;
background: linear-gradient(90deg,rgba(72, 171, 252, 0) 0%,
#0d6efd 50%,
rgba(72, 171, 252, 0) 100%);
filter: drop-shadow(0 0 0.5em #0d6efd);
}

.project-container{
    height: auto;
    width: 100%;
    margin-top: 140px;
    position: relative;
}

.project-wrapper{
    height: 400px;
    width: 100%;
    display: flex;
}

.project-image{
    width: 50%;
    height: 100%;
    position: relative;
}

.project-image .element{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

.periodic-element1{
    left: 10%;
}

.periodic-element2{
    right: 10%;
    bottom: 20%;
}

.periodic-element3{
    left: 10%;
    bottom: 20%
}

.periodic-element4{
    right: 10%;
}

.circle-bg{
    height: 400px;
    width: 500px;
    position: absolute;
    background: linear-gradient(to bottom, #000046 , #1CB5E0);
    border-radius: 50%;
    bottom: 50%;
    right: 50%;
    transform: translate(50%,50%);
    filter: blur(100px);
    z-index: -1;
}

.project-image img{
    height: 100%;
    width: 100%;
}

.project-description{
    width: 50%;
    padding: 20px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #212121;
}

.project-description h1{
    font-weight: 600;
    font-size: 30px;
}

.project-description .project-overview h3{
    font-size: 16px;
    font-weight: 600;
}

.project-description .project-overview p{
    font-size: 14px;
}

.project-wrapper button{
    color: #fff;
    transition: .3s;
}

.project-wrapper button:hover{
    opacity: .8;
    color: #fff;
}

.second-project{
    margin-top: 70px;
    flex-direction: row-reverse;
}
.second-project .project-image{
    display: flex;
    justify-content: center;
}

.second-project .project-description{
    text-align: end;
}

.second-project img{
    width: auto;
    height: 100%;
    transform:matrix(1.00,0.00,0.40,1.00,0,0);
    -ms-transform:matrix(1.00,0.00,0.40,1.00,0,0);
    -webkit-transform:matrix(1.00,0.00,0.40,1.00,0,0);
}

.second-project  .form-element{
    height: 100px;
    width: 100px;
    left: 20%;
    top: 50%;
}


.view-project button{
    width: 40%;
}


.third-project{
    position: relative;
}

.third-project .project-image{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.third-project .project-image::after{
    bottom: 0;
    position: absolute;
    content: '';
    height: 20px;
    width: 80%;
    left: 45%;
    transform: translate(-50%,-50%);
    background: rgb(0,0,0,0.3);
    filter: blur(10px);
    border-radius: 50%;
    z-index: -1;
}

.third-project .project-image img{
    height: 250px;
    width: 200px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}


