/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Cinzel+Decorative:wght@400;700;900&family=Monoton&family=Poppins:wght@400;500;700;800;900&display=swap');
@import "landingPage.css";
@import "body.css";
@import "aboutUs.css";
@import "project.css";
@import "responsive.css";
@import "footer.css";
@import "service.css";
/* ENDS */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body , html{
  scroll-behavior: smooth;
}

body{
    height: 100%;
    width: 100%;
    position: relative;
}

:root{
    --primary-color: #212121;
    --secondary-color: #ffff;
    --third-color: #0d6efd;
    --primary-border-radius: 5px;
    --primary-font-size: 13px;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #212121;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent,#0d6efd);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* CUSTOM CURSOR */

.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #0d6efd;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%,-50%);
    z-index: 11;
    transition: .1s;
}

.cursor2{
    position: fixed;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #0d6efd;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%,-50%);
    z-index: 11;
    transition: .15s;
}

.screenLoader{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: #212121;
    position: fixed;
}

.loader {
    position: relative;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
  }
  
.loader img{
  height: 80px;
  width: 80px;
}

  .loader:before , .loader:after{
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
  }
  .loader:after {
    box-shadow: 0 2px 0 #0d6efd inset;
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    0% {  transform: rotate(0)}
    100% { transform: rotate(360deg)}
  }
